{% load static %}
<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<title>Тестовое задание</title>
{% if user.is_authenticated %}
    <div class="navbar-fixed">
        <nav class="blue">
            <div class="nav-wrapper container">
                <a href="/" class="brand-logo center">Google App</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/account/logout">Выход</a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endif %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>