{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <H3>{{ user.first_name }} is logged in under {{ user.email }} email!</H3>
        </div>
    </div>
{% endblock %}